<div class="graciasDiv">
    <div class="privacidadBanner">
        <div class="container text-center privacidadContainer titleFont">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3 class="privacidadTitle">¡Gracias! <br> Kaab Naab</h3>
                    <div class="whatsContact">
                        <div class="img-icon" style="font-size: 3.5rem;">
                            <a href="https://api.whatsapp.com/send?phone=+525548801760" target="_blank"
                                style="color: #31f378 !important;"><i class="fab fa-whatsapp-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>