<div class="inicioDiv">
    <div class="capitalBanner" id="lashistaItemLandingPage">
        {{!-- <div class="overlayInicio"> --}}
            <div class="container">
                <div class="row">

                    <div class="serviciosTitleInicio text-center">
                        <div class="titleInicioResponsive">
                            {{!-- <h1 class="titleInicioTitle">
                                Eventos únicos, hechos a la medida con creatividad, estilo y calidad.
                            </h1> --}}
                            {{!-- <button type="button" class="btn btn-light btn-lg"
                                onclick="location.href='#contacto';" style="color: ;">Contacto</button> --}}
                        </div>
                    </div>


                </div>
            </div>
            {{!--
        </div> --}}

    </div>
    <div>
        <div class="jumbotron bg-light">
            <div class="container">
                <h1 class="display-4 titleClienteSofer" style="color: #4B4B4B;">¿Ya eres cliente Sofer?</h1>
                <p class="lead" style="color: #979797;">Tenemos aliados comerciales con distintas empresas y contamos
                    con convenios estratégicos
                    con
                    nuestros proveedores, buscando siempre estar a la vanguardia con las exigencias del mercado.
                </p>
                <hr class="my-4">
                <button type="button" class="btn btn-light btn-dark" onclick="location.href='#contacto';"
                    style="color: ;">Contacto</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/laboratory.jpg" class="img-fluid" alt="Responsive image" style="border-radius: 8px;">
            </div>
            <div class="col-md-6 somosCol">
                <h4>
                    ¿Quiénes somos?
                </h4> <br>
                <ul class="list-group">
                    <li class="list-group-item">En Ing Químicos Especializados Sofer proveemos de productos,
                        consumibles, maquinaria y equipo a empresas de la industria médica, química, cosmética,
                        farmacéutica, alimenticia, agrícola y pecuaria. Importamos, exportamos y distribuimos productos
                        y aditamentos. </li>
                    <li class="list-group-item">También tenemos una línea de productos especializados de venta de
                        gasolinas, diesel, aceites, combustóleo, solventes e hidrocarburos. </li>
                    <li class="list-group-item">Tenemos la experiencia y conocimiento para otorgar el mejor servicio y
                        producto. Somo una empresa que está en constante crecimiento, nuestros objetivos nos llevan a
                        garantizar un crecimiento sostenido y sustentable en distintos sectores. </li>
                </ul>
            </div>
        </div>
    </div>



</div>

</div>
<br>
<div class="bannerContacto">
    <div class="titleContactoBannerOverlay">
        <div class="container containerTitleBanner text-center">
            <div class="row">
                <div class=""></div>
                <div class="">
                    <h1 class="text-white text-center titleContactoBanner" style="color: gold !important;">
                        Nuestro Compromiso
                    </h1>
                    <h4 class="titleContactoBanner2 text-center text-white">
                        Mantenernos en constante capacitación para lograr cumplir con las
                        expectativas de nuestros clientes y proporcionando servicios de la más alta calidad.

                    </h4>
                    <button type="button" class="btn btn-warning btn-lg"
                        onclick="location.href='#contacto';">Información</button>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>

</div>
<br>
<div class="serviciosDivLanging">
    <div class="container">
        <div class="row text-center">
            <h1>Nuestros Servicios</h1>
        </div>
        <br>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fas fa-calendar-day"></i> Organización de Eventos
                    <hr>
                    <ul>
                        <li>
                            Cualquier tipo de evento social y
                            corporativo como: Bodas, fiestas infantiles, cumpleaños, ferias, congresos, eventos
                            empresariales regionales y nacionales, convenciones, conferencias, capacitaciones, almuerzos
                            o
                            cenas de trabajo, eventos deportivos y/o culturales, espectáculos artísticos, foros,
                            excursiones, viajes grupales.
                        </li> <br>
                        <li>
                            Tenemos una amplia gama de proveedores de confianza que nos han otorgado
                            servicios durante años, es por eso que podemos otorgarles a nuestros clientes una gran
                            confianza
                            en la calidad y entrega, así como en cada uno los detalles.
                        </li><br>
                        <li>
                            Nosotros nos encargamos de todos los detalles desde la preparación de
                            alimentos, confitería en general, postres, bebidas, mantelería, meseros, decoración de
                            ambientes, luces, música, seguridad y promoción. Así como también la impresión, edición
                            comercialización y distribución de libros, revistas, folletos, volantes y publicaciones.
                        </li><br>
                    </ul>

                </li>
                <li class="list-group-item">
                    <i class="fas fa-bus"></i> Viajes y
                    Transportación para grupos
                    <hr>
                    Viajes grupales, empresariales y excursiones. <br>Contamos con servicios
                    de transportación de grupos a diferentes localidades para desempeñar el objeto social principal,
                    así mismo nos encargamos del hospedaje, actividades y dinámicas, alimentos y eventos requeridos
                    en la localidad.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poll-h"></i> Marketing y Publicidad
                    <hr>
                    Contamos con un equipo de creadores, trabajamos en tu marca y/o la
                    creamos para potencializar el reconocimiento de tu empresa, estudiamos tus objetivos para
                    elaborar un plan de acción acorde a tus necesidades, desarrollamos una publicidad innovadora y
                    creativa para que tu marca sea reconocida y confiable para tus clientes. Usamos las nuevas
                    tecnologías para desarrollar la publicidad que tu necesitas.
                </li>
            </ul>
        </div>
    </div>
</div>
</div> <br> <br>
<div id="contacto" class="contactoSection bg-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <section class="formdiv googleSubTitulo">
                    <div class="formularioContacto container">
                        <div class="row">
                            <div class="col-md">
                                <section class="card theForm">
                                    <h5 class="card-header contactHeader">Contacto</h5>
                                    <section class="card-body">
                                        <form action="/ajax/email" method="POST"
                                            onsubmit="return submitEmailForm(this);" id="myForm">
                                            <section class="form-group">
                                                <label for="name">Nombre Completo</label>
                                                <input type="name" name="name" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section class="form-group">
                                                <label for="exampleInputEmail1">Correo Electrónico</label>
                                                <input type="email" name="email" class="form-control formInput"
                                                    id="inputEmail1" aria-describedby="emailHelp" required>
                                                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos
                                                    tu correo
                                                    electrónico con
                                                    terceros.</small>
                                            </section>
                                            <section class="form-group">
                                                <label for="name">Número de contacto</label>
                                                <input type="text" name="number" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section>
                                                <div class="form-group">
                                                    <!-- Date input -->
                                                    <label class="control-label" for="date">Servicio de interés</label>
                                                    <input class="form-control formInput" id="secondate"
                                                        name="secondate" type="text" required />
                                                </div>
                                            </section>
                                            <br>
                                            <button class="btn btn-warning btn-lg submitFormBtn pointer">Enviar</button>
                                            <br>
                                            <br>
                                            <section class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck2"
                                                    name="checkboxPolicy" required>
                                                <label class="form-check-label submitFormBtn" for="exampleCheck2">
                                                    Acepto <span><a href="/privacy" target="_blank"
                                                            rel="noopener noreferrer">política de
                                                            privacidad</a></span></label>
                                            </section>
                                            <br>

                                        </form>
                                    </section>
                                </section>
                                <!-- <section class="theForm">
                    </section> -->
                            </div>
                        </div>

                    </div>

                </section>
            </div>
            <div class="col-md-6 dondeDormiras">
                <hr style="color: white;">
                <h3 style="color: white;">Queremos escucharte</h3>
                <br>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Nuestros eventos se ajustan a tus decisiones</h4>
                        <p>Siempre puedes contactarnos en nuestros diferentes canales de difusión</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>