<div class="inicioDiv">
    <div class="capitalBanner" id="lashistaItemLandingPage">
        {{!-- <div class="overlayInicio"> --}}
            <div class="container">
                <div class="row">

                    <div class="serviciosTitleInicio text-center">
                        <div class="titleInicioResponsive">
                            {{!-- <h1 class="titleInicioTitle">
                                Eventos únicos, hechos a la medida con creatividad, estilo y calidad.
                            </h1> --}}
                            {{!-- <button type="button" class="btn btn-light btn-lg"
                                onclick="location.href='#contacto';" style="color: ;">Contacto</button> --}}
                        </div>
                    </div>


                </div>
            </div>
            {{!--
        </div> --}}

    </div>
    <div>
        <div class="jumbotron bg-light">
            <div class="container">
                <h1 class="display-4 titleClienteSofer" style="color: black;">¿Ya eres cliente Sofer?</h1>
                <p class="lead" style="color: rgb(102, 101, 101);">Tenemos aliados comerciales con distintas empresas y
                    contamos
                    con convenios estratégicos
                    con
                    nuestros proveedores, buscando siempre estar a la vanguardia con las exigencias del mercado.
                </p>
                <hr class="my-4">
                <button type="button" class="btn btn-light btn-dark" onclick="location.href='#contacto';"
                    style="color: ;">Contacto</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row boldSete" style="color: black;">
            <div class="col-md-6">
                <img src="/assets/images/laboratory.jpg" class="img-fluid" alt="Responsive image"
                    style="border-radius: 8px;">
            </div>
            <div class="col-md-6 somosCol">
                <h4>
                    ¿Quiénes somos?
                </h4> <br>
                <ul class="list-group">
                    <li class="list-group-item">En Ing Químicos Especializados Sofer proveemos de productos,
                        consumibles, maquinaria y equipo a empresas de la industria médica, química, cosmética,
                        farmacéutica, alimenticia, agrícola y pecuaria. Importamos, exportamos y distribuimos productos
                        y aditamentos. </li>
                    <li class="list-group-item">También tenemos una línea de productos especializados de venta de
                        aditivos, aceites, combustóleo, solventes e hidrocarburos. </li>
                    <li class="list-group-item">Tenemos la experiencia y conocimiento para otorgar el mejor servicio y
                        producto. Somo una empresa que está en constante crecimiento, nuestros objetivos nos llevan a
                        garantizar un crecimiento sostenido y sustentable en distintos sectores. </li>
                </ul>
            </div>
        </div>
    </div>



</div>

</div>
<br>
<div class="bannerContacto">
    <div class="titleContactoBannerOverlay bg-dark">
        <div class="container containerTitleBanner text-center">
            <div class="row">
                <div class=""></div>
                <div class="">
                    <h1 class="text-white text-center titleContactoBanner" style="color: #B0D8D7 !important;">
                        Nuestra Misión
                    </h1>
                    <h4 class="titleContactoBanner2 text-center text-white" style="color: #E3EEEE;">
                        Ser una empresa reconocida por su compromiso con el medio ambiente, mejorando
                        continuamente nuestra extensa variedad de productos y servicios hacia nuestros clientes. Tenemos
                        el compromiso de cumplir con los requisitos de las partes interesadas proporcionado soluciones,
                        productos y servicios de la más alta calidad, apoyando siempre a la dirección estratégica de la
                        compañía.

                    </h4>
                    <button type="button" class="btn btn-info btn-lg"
                        onclick="location.href='#contacto';">Información</button>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>

</div>
<br>
<div class="serviciosDivLanging">
    <div class="container">
        <div class="row text-center">
            <h1 class="boldSete">Lo más vendido</h1>
        </div>
        <br>
        <div class="row" style="color: black;">
            <div class="col-md-4 col-sm-12">
                <div class="card cardStyle" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/limpieza.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Productos Químicos</h5>
                        <p class="card-text">Soluciones de limpieza y desinfección </p>
                        <a href="#contacto" class="btn btn-primary">Quiero hacer un pedido</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardStyle cardStyle2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/protesis.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Prótesis rodilla, pierna y cadera</h5>
                        <br>
                        <a href="#contacto" class="btn btn-primary">Quiero hacer un pedido</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card cardStyle cardStyle2" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/images/implantes.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Implantes ortopédicos</h5>
                        <br> <br>
                        <a href="#contacto" class="btn btn-primary">Quiero hacer un pedido</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <br> <br>
<div class="productosDiv">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 somosCol">
                <h4 class="boldSete">
                    Nuestros productos
                </h4> <br>
                <ul class="list-group">
                    <li class="list-group-item boldSete" style="font-size: 20px;"><i class="fas fa-location-arrow"></i> Productos químicos y cosmetología</li>
                    <li class="list-group-item boldSete" style="color: black;">
                        Tenemos alianzas comerciales para la importación y distribución de productos químicos y
                        aditamentos. Contamos con una línea de artículos para el cuidado personal y belleza estética.
                        <br><a href="#contacto">Conocer más...</a>
                    </li>
                    <li class="list-group-item boldSete" style="font-size: 20px;"><i class="fas fa-location-arrow"></i> Productos médicos y farmacéutica</li>
                    <li class="list-group-item boldSete" style="color: black;">
                        En Ing Químicos Especializados Sofer distribuimos, importamos y exportamos, compramos y vendemos
                        productos médicos, farmacéuticos, material hospitalario, odontológico, traumatológico, de
                        laboratorio y conexos. Tenemos venta de productos de consumo masivo y productos para bodegas.
                        <br><a href="#contacto">Conocer más...</a>
                    </li>
                    <li class="list-group-item boldSete" style="font-size: 20px;"><i class="fas fa-location-arrow"></i> Productos petroquímicos</li>
                    <li class="list-group-item boldSete" style="color: black;">
                        Otorgamos servicios de logística, consultoría, compra y venta de productos para la industria
                        petroquímica. Tenemos una amplia experiencia en el mercado de solventes, productos químicos
                        industriales y plastificados. Proveemos productos especializados de alta gama para cumplir
                        funciones específicas.
                        <br><a href="#contacto">Conocer más...</a>
                    </li>
                    <li class="list-group-item boldSete" style="font-size: 20px;"><i class="fas fa-location-arrow"></i> Productos agrícolas y pecuarios</li>
                    <li class="list-group-item boldSete" style="color: black;">
                        Comercializamos productos agropecuarios apoyándonos en procesos óptimos y medidas de
                        conservación para que los productos lleguen en condiciones óptimas a nuestros clientes y
                        posteriormente a los consumidores finales.
                        En estos productos la logística de abastecimiento que permiten la fluidez y normalidad en los
                        flujos comerciales son de primordial importancia por eso hemos instaurado estructuras eficientes
                        de mercado desde el almacenamiento, transporte y entrega.
                        <br><a href="#contacto">Conocer más...</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/assets/images/cosmetics.jpg" alt="First slide">
                            <div class="card-body">
                                <h5 class="card-title">Productos químicos y cosmetología</h5>
                                <a href="#contacto" class="btn btn-primary">Más información</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/images/chemicals.jpg" alt="Second slide">
                            <div class="card-body">
                                <h5 class="card-title">Productos petroquímicos</h5>
                                <a href="#contacto" class="btn btn-primary">Más información</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/images/agriculture.jpg" alt="Third slide">
                            <div class="card-body">
                                <h5 class="card-title">Productos agrícolas y pecuarios</h5>
                                <a href="#contacto" class="btn btn-primary">Más información</a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/assets/images/pharma.jpg" alt="Fourth slide">
                            <div class="card-body">
                                <h5 class="card-title">Productos médicos y farmacéutica</h5>
                                <a href="#contacto" class="btn btn-primary">Más información</a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br> <br>
<div id="contacto" class="contactoSection" style="background-color: #E3EEEE !important;">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 dondeDormiras boldSete">
                <h5 style="color: black;">En Ing Químicos Especializados Sofer proveemos de productos de:
                </h5>
                <hr>
                <p class="text-secondary boldSete">
                    Consumibles,
                    maquinaria y equipo a empresas de la industria médica, química, cosmética, farmacéutica,
                    alimenticia, agrícola y pecuaria. Importamos, exportamos y distribuimos productos y aditamentos.
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="formdiv googleSubTitulo">
                    <div class="formularioContacto container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <section class="card theForm">
                                    <h5 class="card-header contactHeader">Contáctanos <br>
                                    <hr>
                                    <a href="mailto:contacto@quimicosofer.com" class="bandejaSofer">contacto@quimicosofer.com</a></h5>
                                    
                                    <section class="card-body">
                                        <form action="/ajax/email" method="POST"
                                            onsubmit="return submitEmailForm(this);" id="myForm">
                                            <section class="form-group">
                                                <label for="name">Nombre Completo</label>
                                                <input type="name" name="name" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section class="form-group">
                                                <label for="exampleInputEmail1">Correo Electrónico</label>
                                                <input type="email" name="email" class="form-control formInput"
                                                    id="inputEmail1" aria-describedby="emailHelp" required>
                                                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos
                                                    tu correo
                                                    electrónico con
                                                    terceros.</small>
                                            </section>
                                            <section class="form-group">
                                                <label for="name">Número de contacto</label>
                                                <input type="text" name="number" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section>
                                                <div class="form-group">
                                                    <!-- Date input -->
                                                    <label class="control-label" for="date">Servicio de interés</label>
                                                    <input class="form-control formInput" id="secondate" name="message"
                                                        type="text" required />
                                                </div>
                                            </section>
                                            <br>
                                            <button class="btn btn-info btn-lg submitFormBtn pointer">Enviar</button>
                                            <br>
                                            <br>
                                            <section class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck2"
                                                    name="checkboxPolicy" required>
                                                <label class="form-check-label submitFormBtn" for="exampleCheck2">
                                                    Acepto <span><a href="/privacy" target="_blank"
                                                            rel="noopener noreferrer">política de
                                                            privacidad</a></span></label>
                                            </section>
                                            <br>

                                        </form>
                                    </section>
                                </section>
                                <!-- <section class="theForm">
                                </section> -->
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    </div>

                </section>
            </div>

        </div>
    </div>
</div>
</div>