<div class="inicioDiv">
    <div class="capitalBanner" id="lashistaItemLandingPage">
        <div class="overlayInicio">
            <div class="container">
                <div class="row">

                    <div class="serviciosTitleInicio text-center">
                        <div class="titleInicioResponsive">
                            <h1 class="titleInicioTitle">
                                Eventos únicos, hechos a la medida con creatividad, estilo y calidad.
                            </h1>
                            <button type="button" class="btn btn-light btn-lg" onclick="location.href='#contacto';"
                                style="color: ;">Reservar</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="container text-center carouselContainerKaab">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="/assets/images/logoSofer.jpeg" class="img-fluid" alt="Responsive image">
                    <h3><i class="fas fa-cocktail" style="color: #81905E;"></i> GENERANDO EXPERIENCIAS</i></h3>
                </div>
                <div class="col-md-3"></div>
            </div> <br> <br>
            <div class="row">
                <!-- Gallery -->
                <div class="row gallery">
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <img src="/assets/images/6.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Boat on Calm Water" />

                        <img src="/assets/images/1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Wintry Mountain Landscape" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="/assets/images/2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Mountains in the Clouds" />

                        <img src="/assets/images/5.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Boat on Calm Water" />
                    </div>

                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <img src="/assets/images/7.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                        <img src="/assets/images/3.jpg" class="w-100 shadow-1-strong rounded mb-4"
                            alt="Yosemite National Park" />
                    </div>
                </div>
                <!-- Gallery -->
            </div>
            <div class="row carouselGallery">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/assets/images/1.jpg" alt="First slide">
                                <li class="list-group-item disabled">
                                    <h5>Bodas</h5>
                                    <p>Fiestas infantiles, cumpleaños & ferias</p>
                                </li>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/images/2.jpg" alt="Second slide">
                                <li class="list-group-item disabled">
                                    <h5>Eventos sociales & corporativos</h5>
                                    <p>Congresos, convenciones, conferencias, capacitaciones, almuerzos o cenas de
                                        trabajo</p>
                                </li>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/images/3.jpg" alt="Third slide">
                                <li class="list-group-item disabled">
                                    <h5>Eventos deportivos & culturaless</h5>
                                    <p>Excursiones & viajes grupales</p>
                                </li>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/assets/images/4.jpg" alt="Third slide">
                                <li class="list-group-item disabled">
                                    <h5>Espectáculos artísticos</h5>
                                    <p>Foros</p>
                                </li>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            {{!-- <button type="button" class="btn btn-dark btn-lg btnReservar" onclick="location.href='#contacto';"
                style="color: white;">Reservar</button> --}}

            <div class="row">
                <p>
                    <button class="btn btn-warning btn-block" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Conócenos
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <div class=" text-center">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Nosotros</h5>
                                            <hr>
                                            <p class="card-text">Somos un equipo de expertos en la planificación,
                                                promoción y organización de eventos creativos tanto sociales como
                                                corporativos. Diseñamos estrategias de marketing promoción y
                                                comunicación. <br> <br>
                                                Nuestros servicios ofrecen distintas alternativas para cumplir con las
                                                necesidades de nuestros clientes, con la experiencia que tenemos nos
                                                encargamos de cada etapa y detalle, buscando siempre estar de la mano de
                                                nuestros clientes. <br> <br>
                                                “Tenemos ese toque creativo que nos caracteriza, pero sobre todo mucho
                                                estilo, ese es nuestro gran diferenciador”</p>
                                            <a href="#contacto" class="card-link">Contáctanos</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Misión</h5>
                                            <hr>
                                            <p class="card-text">Coktail Eventos es una empresa innovadora que ofrece
                                                propuestas creativas y experiencia en cada evento, para lograr cumplir
                                                con las expectativas y necesidades de nuestros clientes.
                                                Cada uno de nuestros servicios son personalizados y para hacer de tu
                                                evento una experiencia única.</p>
                                            <a href="#contacto" class="card-link">Contáctanos</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">Visión</h5>
                                            <hr>
                                            <p class="card-text">Continuar innovando en cada uno de los eventos en los
                                                que participamos y mantener la calidad en todos nuestros servicios.</p>
                                            <a href="#contacto" class="card-link">Contáctanos</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br>
<div class="bannerContacto">
    <div class="titleContactoBannerOverlay">
        <div class="container containerTitleBanner text-center">
            <div class="row">
                <div class=""></div>
                <div class="">
                    <h1 class="text-white text-center titleContactoBanner" style="color: gold !important;">
                        Nuestro Compromiso
                    </h1>
                    <h4 class="titleContactoBanner2 text-center text-white">
                        Mantenernos en constante capacitación para lograr cumplir con las
                        expectativas de nuestros clientes y proporcionando servicios de la más alta calidad.

                    </h4>
                    <button type="button" class="btn btn-warning btn-lg"
                        onclick="location.href='#contacto';">Información</button>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>

</div>
<br>
<div class="serviciosDivLanging">
    <div class="container">
        <div class="row text-center">
            <h1>Nuestros Servicios</h1>
        </div>
        <br>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fas fa-calendar-day"></i> Organización de Eventos
                    <hr>
                    <ul>
                        <li>
                            Cualquier tipo de evento social y
                            corporativo como: Bodas, fiestas infantiles, cumpleaños, ferias, congresos, eventos
                            empresariales regionales y nacionales, convenciones, conferencias, capacitaciones, almuerzos
                            o
                            cenas de trabajo, eventos deportivos y/o culturales, espectáculos artísticos, foros,
                            excursiones, viajes grupales.
                        </li> <br>
                        <li>
                            Tenemos una amplia gama de proveedores de confianza que nos han otorgado
                            servicios durante años, es por eso que podemos otorgarles a nuestros clientes una gran
                            confianza
                            en la calidad y entrega, así como en cada uno los detalles.
                        </li><br>
                        <li>
                            Nosotros nos encargamos de todos los detalles desde la preparación de
                            alimentos, confitería en general, postres, bebidas, mantelería, meseros, decoración de
                            ambientes, luces, música, seguridad y promoción. Así como también la impresión, edición
                            comercialización y distribución de libros, revistas, folletos, volantes y publicaciones.
                        </li><br>
                    </ul>

                </li>
                <li class="list-group-item">
                    <i class="fas fa-bus"></i> Viajes y
                    Transportación para grupos
                    <hr>
                    Viajes grupales, empresariales y excursiones. <br>Contamos con servicios
                    de transportación de grupos a diferentes localidades para desempeñar el objeto social principal,
                    así mismo nos encargamos del hospedaje, actividades y dinámicas, alimentos y eventos requeridos
                    en la localidad.
                </li>
                <li class="list-group-item">
                    <i class="fas fa-poll-h"></i> Marketing y Publicidad
                    <hr>
                    Contamos con un equipo de creadores, trabajamos en tu marca y/o la
                    creamos para potencializar el reconocimiento de tu empresa, estudiamos tus objetivos para
                    elaborar un plan de acción acorde a tus necesidades, desarrollamos una publicidad innovadora y
                    creativa para que tu marca sea reconocida y confiable para tus clientes. Usamos las nuevas
                    tecnologías para desarrollar la publicidad que tu necesitas.
                </li>
            </ul>
        </div>
    </div>
</div>
</div> <br> <br>
<div id="contacto" class="contactoSection bg-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <section class="formdiv googleSubTitulo">
                    <div class="formularioContacto container">
                        <div class="row">
                            <div class="col-md">
                                <section class="card theForm">
                                    <h5 class="card-header contactHeader">Contacto</h5>
                                    <section class="card-body">
                                        <form action="/ajax/email" method="POST"
                                            onsubmit="return submitEmailForm(this);" id="myForm">
                                            <section class="form-group">
                                                <label for="name">Nombre Completo</label>
                                                <input type="name" name="name" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section class="form-group">
                                                <label for="exampleInputEmail1">Correo Electrónico</label>
                                                <input type="email" name="email" class="form-control formInput"
                                                    id="inputEmail1" aria-describedby="emailHelp" required>
                                                <small id="emailHelp" class="form-text text-muted">Nunca compartiremos
                                                    tu correo
                                                    electrónico con
                                                    terceros.</small>
                                            </section>
                                            <section class="form-group">
                                                <label for="name">Número de contacto</label>
                                                <input type="text" name="number" class="form-control formInput"
                                                    id="completeName" aria-describedby="namelHelp" required>
                                            </section>
                                            <section>
                                                <div class="form-group">
                                                    <!-- Date input -->
                                                    <label class="control-label" for="date">Servicio de interés</label>
                                                    <input class="form-control formInput" id="secondate"
                                                        name="secondate" type="text" required />
                                                </div>
                                            </section>
                                            <br>
                                            <button class="btn btn-warning btn-lg submitFormBtn pointer">Enviar</button>
                                            <br>
                                            <br>
                                            <section class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck2"
                                                    name="checkboxPolicy" required>
                                                <label class="form-check-label submitFormBtn" for="exampleCheck2">
                                                    Acepto <span><a href="/privacy" target="_blank"
                                                            rel="noopener noreferrer">política de
                                                            privacidad</a></span></label>
                                            </section>
                                            <br>

                                        </form>
                                    </section>
                                </section>
                                <!-- <section class="theForm">
                    </section> -->
                            </div>
                        </div>

                    </div>

                </section>
            </div>
            <div class="col-md-6 dondeDormiras">
                <hr style="color: white;">
                <h3 style="color: white;">Queremos escucharte</h3>
                <br>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4>Nuestros eventos se ajustan a tus decisiones</h4>
                        <p>Siempre puedes contactarnos en nuestros diferentes canales de difusión</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>